/* ServerPort.css */

/* Background color for the whole window */
.root {
	-fx-background-color: #deb887;
}

/* Style for the Buttons (Done and Exit) */
.button {
	-fx-background-color: skyblue;
	-fx-text-fill: red;
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

/* Optional: Slight change when you hover over buttons */
.button:hover {
	-fx-background-color: #87ceeb; 
	-fx-cursor: hand;
}

/* Style for the Port TextField */
#portxt {
	-fx-font-weight: bold;
}